<div class="booking-card">
    <div class="title">{{ car.make }} {{ car.model }} {{ car.fuel === 'electric' ? 'E' : ''}} </div>
    <div class="subtitle">{{ car.year }} {{ car.fuel | titlecase }}</div>
    <div class="price">{{ car.price + (car.ppm * duration) | currency: 'EUR' }}</div>
    <div class="footer">
        <p>Booked for {{ duration }} Minutes in the time between {{ dateRange[0] | date: 'HH:mm' }} and {{ dateRange[1] | date: 'HH:mm' }} on {{ booking.date | date: 'E, d MMM yyyy' }}</p>
    </div>
</div>
