<div class="search">
    <div class="searchbar">
        <section [formGroup]="searchbar">
            <input matInput placeholder="Search" type="text" (keyup)="searchCars()" formControlName="search" >
        </section>
    </div>
    <div class="fueltype">
        <section [formGroup]="fuelselection">
            <mat-checkbox formControlName="electric" (change)="searchCars()">Electric</mat-checkbox>
            <mat-checkbox formControlName="petrol" (change)="searchCars()">Petrol</mat-checkbox>
            <mat-checkbox formControlName="diesel" (change)="searchCars()">Diesel</mat-checkbox>
          </section>
    </div>
    <div class="bookingrange">
        <section [formGroup]="durationForm">
            <label for="from">From: </label>
            <input type="time" id="from" name="from" id="fromInp" (change)="searchCars()" formControlName="from">
            <label for="duration">Duration: </label>
            <mat-slider [min]="30" [max]="180" [step]="30" thumbLabel (change)="searchCars()" formControlName="duration"></mat-slider>
        </section>
    </div>
    <div class="resultcnt">
        {{ cars.length }} results found.
    </div>
</div>
<div class="content">
    <div class="cars">
        <cs-car-card *ngFor="let car of shownCars" [car]="car" [dateRange]="[from, to]" [customerId]="customer?._id ?? ''" [enableBooking]="true"></cs-car-card>
    </div>
    <button class="showMoreButton" (click)="onShowMore()" *ngIf="maxOnPage < cars.length">Show More...</button>
</div>
<div class="addCarDiv" *ngIf="customer?.username === 'admin'">
    <button mat-fab color="accent" class="addCarButton" (click)="addCar()">
        <mat-icon>add</mat-icon>
      </button>
</div>