<form [formGroup]="loginForm" class="loginForm">
    <div class="login">
        <div class="loginbar">
            <input matInput placeholder="Username" type="text" formControlName="username">
        </div>
        <div class="loginbar">
            <input matInput placeholder="Password" type="password" formControlName="password">
        </div>
        <div>
            <p class="error" *ngIf="!isCorrect">Username or Password incorrect!</p>
            <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
        </div>
    </div>
</form>
