<div class="profile-content">
    <div class="header">
        <h1>{{ customer.username }}</h1>
    </div>
    <div class="content">
        <div class="past-bookings">
            <h2>Past Bookings</h2>
            <cs-booking-card *ngFor="let car of pastCars" [carBooking]="car"></cs-booking-card>
        </div>
        <div class="bookings">
            <h2>Future Bookings</h2>
            <cs-booking-card *ngFor="let car of currentCars" [carBooking]="car"></cs-booking-card>
        </div>
    </div>
    <div class="costs">
        <h2>Costs</h2>
        <div class="cost">
            <div class="title">Total Cost</div>
            <div class="value">{{ totalCost | currency: 'EUR' }}</div>
        </div>
        <div class="cost">
            <div class="title">Average Cost</div>
            <div class="value">{{ averageCost | currency: 'EUR' }}</div>
        </div>
    </div>
</div>